export COMPOSE_PROFILES=blender
export BLENDER_DB_USER=mongodb
export BLENDER_DB_PASS=mongodb
export PROXY_KEYRING_URI="//Dave"
export OPERATOR_ADDRESS="kALEbU4dNBseuF7P2AAayZ2MF6dVZ2Xb3PKvxarHYHKE6QLT6"
export POOL_ID="2659193339" # Or a comma separated list of pools for multipool mode